<%- if @lesson.errors.present? -%>
  <%- @lesson.errors.full_messages.each do |error| -%>
    <ul>
      <li><%= error %></li>
    </ul>
  <% end %>
<% end %>

<h1>Edit <%= @lesson.title %> from <%= @lesson.course.name %></h1>

<div class="row">
  <div class="small-8 large-centered column">
    <div class="panel">
      <%= link_to "Markdown", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" %> is supported in both body one and two
      <p></p>
      <%= form_for [@lesson] do |f| %>

        <div class="field">
          <%= f.label :title, "Section title (you can make as many sections as you want)" %>
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <%= f.label :body, "Section body" %>
          <%= f.text_area :body, rows: 30%>
        </div>

        <div class="field">
          <%= f.label :outside_links, "Link to further information on this section (format: http://google.com)" %>
          <%= f.text_area :outside_links %>
        </div>

        <div class="actions">
          <%= f.submit "Edit lesson" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
