<div class="large-12 columns">
  <div class="row">
    <div class="large-4 small-6 columns">
      <h1>Google</h1>
      <div class="panel">
        <% @google.each do |google| %>
          <% if google.link.length != 0 && google.text.length != 0 %>
            <li><%= link_to google.text, google.link %></li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <h1>Bing</h1>
      <div class="panel">
        <% @bing.each do |bing| %>
          <% if bing.link.length != 0 && bing.text.length != 0 %>
             <li><%= link_to bing.text, bing.link %></li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <h1>Yahoo</h1>
      <div class="panel">
        <% @yahoo.each do |yahoo| %>
          <% if yahoo.link.length != 0 && yahoo.text.length != 0 %>
             <li><%= link_to yahoo.text, yahoo.link %></li>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 small-6 columns">
      <h1>Ask</h1>
      <div class="panel">
        <% @ask.each do |ask| %>
          <% if ask.link.length != 0 && ask.text.length != 0 %>
             <li><%= link_to ask.text, ask.link %></li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <h1>Aol</h1>
      <div class="panel">
        <% @aol.each do |aol| %>
          <% if aol.link.length != 0 && aol.text.length != 0 %>
             <li><%= link_to aol.text, aol.link %></li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <h1>Wow</h1>
      <div class="panel">
        <% @wow.each do |wow| %>
          <% if wow.link.length != 0 && wow.text.length != 0 %>
             <li><%= link_to wow.text, wow.link %></li>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
