<%- if @course.errors.present? -%>
  <%- @course.errors.full_messages.each do |error| -%>
    <ul>
      <li><%= error %></li>
    </ul>
  <% end %>
<% end %>

<h1>Enter the course information</h1>

<div class="row">
  <div class="small-8 large-centered column">
    <div class="panel">
      <%= form_for @course do |f| %>

        <div class="field">
          <%= f.label :name, "Article name" %>
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <%= f.label :description, "Article description" %>
          <%= f.text_area :description %>
        </div>

        <div class="actions">
          <%= f.submit "Edit course" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
