<h1><%= @course.name %></h1>
<div class="row">
  <div class="small-8 large-centered column">
    <div class="panel">
      <ol>
        <% @lessons.each do |lesson| %>
          <li class="larger"><%= lesson.title %></li>
          <ul>
            <li><%= lesson.body %></li>
            <p></p>
            <li><%= lesson.second_body %></li>
          </ul>
        <% end %>
      </ol>
      <%= link_to "Add a lesson", new_course_lesson_path(@course) %> ||
      <%= link_to "Save course", course_saves_path(@course), method: :post %>
    </div>
  </div>
</div>


