<h1><%= @course.name %></h1>
<h4><%= link_to("search for more about this", course_searches_path(@course)) %>
<div class="row">
  <div class="small-8 large-centered column">
    <div class="panel">
      <ol>
        <% @lessons.each do |lesson| %>
          <li class="larger"><%= lesson.title %></li>
          <ul>
            <li><%= markdown(lesson.body) %></li>
            <li><%= link_to "more information", lesson.outside_links %></li>
            <div class="right">
              <% if current_user != nil %>
                <% if current_user == @course.user || current_user.has_authority? %>
                  <%= link_to "Edit", edit_lesson_path(lesson) %> ||
                  <%= link_to "Delete", lesson, method: :delete %>
                <% end %>
              <% end %>
            </div>
          </ul>
        <% end %>
      </ol>
      <% if current_user != nil %>
        <% if current_user == @course.user || current_user.has_authority? %>
          <%= link_to "Add a lesson", new_course_lesson_path(@course) %>
        <% end %>
      <% end %>
       || <%= link_to "Save course", course_saves_path(@course), method: :post %>
    </div>
    <div class="right">
      <% if current_user != nil %>
        <% if current_user == @course.user || current_user.has_authority? %>
          <%= link_to "Edit", edit_course_path(@course) %> ||
          <%= link_to "Delete", @course, method: :delete %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


