<h1><%= @course.name %></h1>
<div class="row">
  <div class="small-8 large-centered column">
    <div class="panel">
      <ol>
        <% @lessons.each do |lesson| %>
          <li class="larger"><%= lesson.title %></li>
          <ul>
            <li><%= lesson.body %></li>
            <li><%= lesson.second_body %></li>
          </ul>
        <% end %>
      </ol>
    </div>
    <%= link_to "add a lesson", new_course_lesson_path(@course) %>
    <%= user.set_mark :favorite, @course %>
  </div>
</div>


